{% extends 'base.html.twig' %}

{% block title %}Kivu{% endblock %}

{% block body %}
<style>
.titre{
    text-align:center;
    text-shadow: 2px 2px 5px black;
    font-size: 150%;
}
.texte{
 font-size: 110%;
 text-align:center;
}
</style>

<div class="titre">Guerre du Kivu<br>(2004 - Présent)</div>
<p class="texte">La guerre du Kivu désigne une série de conflits armés qui se déroulent principalement dans les provinces du Nord-Kivu et du Sud-Kivu, à l’est de la République démocratique du Congo (RDC), depuis 2004. Ce conflit fait suite à la Deuxième Guerre du Congo et implique de nombreux groupes armés locaux, des milices étrangères (notamment rwandaises), ainsi que les forces armées congolaises (FARDC).

Les causes du conflit sont multiples : tensions ethniques, luttes pour le contrôle des ressources naturelles (minerais), présence de rebelles hutus rwandais (FDLR) dans la région, et faiblesse de l’État congolais. Parmi les groupes rebelles les plus connus, on retrouve le CNDP (de Laurent Nkunda) puis le M23, soutenu à plusieurs reprises par le Rwanda, selon l’ONU.

La région est marquée par une violence extrême contre les civils : massacres, viols, déplacements massifs de population, recrutement d’enfants soldats. Malgré la présence de la mission de l’ONU (la MONUSCO), la paix reste fragile et la région reste instable jusqu’à aujourd’hui.</p>

{% endblock %}
