{% extends 'base.html.twig' %}

{% block title %}APROPOS{% endblock %}

{% block body %}
<style>
.titre{
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: 150%;
}
.p{
    text-align:center;
    font-size:120%;
}
</style>
<div class="titre">A Propos de moi 🙏🏿</div>
<p class="p">Je m'appelle Terence, développeur web débutant passionné par la  création de sites internet. Je me forme chaque jour pour progresser dans ce domaine qui me passionne, en explorant des technologies comme HTML,  CSS, JavaScript et Symfony.  Mon objectif est simple : m’améliorer jour après jour, en apprenant  par la pratique et en réalisant des projets concrets. Ce site est à la  fois une vitrine de mon parcours et un espace d’expérimentation pour  continuer à évoluer.  Curieux, motivé et déterminé, je suis toujours prêt à relever de  nouveaux défis pour développer mes compétences et grandir en tant que  développeur web.  J'ai crée ce blog d'information qui suit l'actualité de la RDC mon  pays d'origine que j'aime donc ça me tenait à coeur de parler de tout ce qu'il se  passe là-bas. J'espére que vous trouverez ce blog utile et  informatif. </p>
{% endblock %}
