{% extends 'base.html.twig' %}

{% block title %}Tousdroitsreserves{% endblock %}

{% block body %}

<footer class="tous-droits">
  <p> Blog d'information sur le congo Tous droits réservés © 2025.</p>
</footer>


<style>
  .tous-droits{
    text-align: center;
    padding: 15px 10px;
    background-color: #f0f0f0;
    color: #555;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-top: 1px solid #ddd;
  }
</style>

{% endblock %}
