{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
<style>
.contact{
    text-align:center;
}
.form{
    text-align:center;
}
</style>
<h1 class="contact">Contactez-Moi ✉️</h1>
<div class="form">
{{form(formulaire)}}
</div>
{% endblock %}
