{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Conditions Générales d'Utilisation</title>
</head>
<body>
<style>
h1{
    text-align:center
}
p{
    text-align:center
}
h2{
    text-align:center
}
ul{
    text-align:center
}



</style>
  <h1>Conditions Générales d'Utilisation (CGU)</h1>
  <p><strong>Dernière mise à jour :</strong> 11 août 2025</p>

  <h2>1. Présentation du site</h2>
  <p>Le présent site est un blog d'information consacré au Congo.
  <p>L'utilisation du Site implique l'acceptation pleine et entière des présentes conditions générales d'utilisation.</p>

  <h2>2. Accès au site</h2>
  <p>Le Site est accessible gratuitement à tout utilisateur disposant d’un accès à Internet. Aucun espace membre ou inscription n’est requis pour consulter les contenus.</p>
  <p>Le Site se réserve le droit d’interrompre temporairement ou définitivement l'accès sans préavis, notamment pour des raisons de maintenance.</p>

  <h2>3. Propriété intellectuelle</h2>
  <p>L’ensemble des contenus présents sur le Site (textes, images, vidéos, logo, etc.) est protégé par le droit de la propriété intellectuelle.</p>
  <p>Toute reproduction, copie, diffusion ou exploitation, même partielle, sans autorisation préalable est strictement interdite.</p>

  <h2>4. Comportement des utilisateurs</h2>
  <p>Les utilisateurs s’engagent à utiliser le Site dans le respect de la loi et des présentes CGU. Sont notamment interdits :</p>
  <ul>
    <li>Le spam ou toute forme de pollution numérique ;</li>
    <li>La copie ou la reproduction non autorisée des contenus publiés ;</li>
    <li>Toute tentative d’atteinte au bon fonctionnement du site.</li>
  </ul>

  <h2>5. Données personnelles</h2>
  <p>Aucune donnée personnelle n’est collectée via le Site. Il n’y a ni formulaire d’inscription ni système de suivi des utilisateurs.</p>

  <h2>6. Responsabilité</h2>
  <p>Les informations diffusées sur le Site sont fournies à titre informatif. Bien que rédigées avec soin, elles peuvent contenir des inexactitudes ou des erreurs.</p>
  <p>Le Site ne saurait être tenu responsable de l'utilisation qui en est faite par les utilisateurs.</p>

  <h2>7. Droit applicable</h2>
  <p>Les présentes CGU sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux du ressort de la juridiction du siège du propriétaire du Site.</p>
</body>
</html>


{% endblock %}
