{% extends 'base.html.twig' %}

{% block title %}PremierGuerre{% endblock %}

{% block body %}
<style>
.titre{
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: 150%;
}
.texte{
    font-size: 110%;
    text-align: center;
}

</style>
<div class="titre">La Premiére Guerre du Congo<br>(Novembre 1996 - Mai 1997)</div>
<p class="texte"> La Première Guerre du Congo est un conflit qui a eu lieu entre 1996 et 1997 en République du Zaïre (aujourd’hui République démocratique du Congo). Elle a commencé à la suite du génocide rwandais de 1994, qui a poussé des milliers de réfugiés hutus, dont des génocidaires, à fuir vers l’est du Zaïre. Cela a créé une grave crise sécuritaire.

Le Rwanda, avec l’aide de l’Ouganda et d’autres pays, soutient une rébellion congolaise menée par Laurent-Désiré Kabila (AFDL), pour renverser le dictateur Mobutu Sese Seko, affaibli après 32 ans au pouvoir. La rébellion progresse rapidement et entre dans la capitale Kinshasa en mai 1997. Mobutu s’enfuit, et Kabila prend le pouvoir, renommant le pays République démocratique du Congo.

Ce conflit marque la fin d’un long régime dictatorial, mais il ne met pas fin à l’instabilité. Très vite, de nouvelles tensions apparaissent, menant à une guerre encore plus vaste : <a href="{{path('app_deuxi_me')}}">la Deuxième Guerre du Congo </a> (1998–2003).</p>
{% endblock %}
